@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fredoka+One&family=Kenia&family=Martian+Mono&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* TITULOS DEL SITIO */

header{
    background: #00ff40;
    display: flex;
    justify-content: space-between;
}

body{
    background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.titulo{
    font-family: kenia;
    margin: 4px 8px;
    padding: 0px 2px;
    border: #000000 solid 2px;
    border-radius: 10px;
}

header ul{
    margin: 0px 25px;
    margin-top: 5px;
}

header ul li{
    display: inline;
}

header ul li a img{
    height: 25px;
    padding: 4px 4px;
}

header ul li a{
    text-decoration: none;
}

header ul li a:hover{
    border-bottom: 2px solid #000000;
    color: #000000b0;
}

/* INFO DEL APK E IMAGEN */

.principal{
    display: flex;
    margin: 10px 10px;
}

.apkimages{
    width: 60px;
    height: 60px;
}

.apktitles{
    margin: 0px 8px;
    font-family: fredoka one;
    padding: 16px 0px;
}

.apkinfo{
    list-style: none;
    margin-left: 8px;
    font-family: Bebas Neue;
    font-size: 24px;
}

.apkinfo li{
    padding: 2px 2px;
}
/* FIN INFO DEL APK E IMAGEN */


/* MENSAJE */

.mensaje{
    margin: 30px 15px;
    text-align: center;
    font-family: verdana;
    font-weight: lighter;
}

/* FIN DEL MENSAJE */


/* PARRAFOS Y MUCHO TEXTO */

.parrafos{
    font-family: roboto;
    margin: 11px 6px;
    padding: 4px 4px;
    text-align: center;
    font-size: 20px;
}

.resalt{
    font-family: sans-serif;
    text-align: center;
    padding: 10px 10px;
    font-size: 30px;
}

/* IMAGENES */

.images{
    display: flex;
    justify-content: center;
    margin: 32px 16px;
}

/* BOTON DE DESCARGA */

.aqui{
    text-align: center;
    font-family: bebas neue;
    font-size: 30px;
}

.boton{
    text-align: center;
}

.boton button{
    margin: 25px 10px;
    background: #00ff40;
    padding: 10px 10px;
    border-radius: 15px;
}

.boton a{
    font-family: fredoka one;
    color: #ffffff;
    text-decoration: none;
}

.boton a:hover{
    color: #ffffffbd;
}

/* ASIDE */

aside{
    background: #000000;
    font-family: martian mono;
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
}

aside h3{
    color: #ffffff;
    padding: 8px 6px;
}

aside li{
    padding: 3px;
}

aside li a{
    margin: 2px 4px;
    color: rgb(92, 201, 255);
    text-decoration: none;
}

/* ASIDE */

/* FOOTER */

footer{
    text-align: center;
    font-family: roboto;
    font-size: 32px;
    color: #ffffff;
    background: #000000;
    padding: 25px 10px;
}

/* FIN DEL FOOTER */

@media (max-width:600px) {

    footer{
        font-size: 22px;
    }

    .aqui{
        font-size: 20px;
    }

    .apkinfo{
        font-size: 16px;
    }

    .parrafos{
        font-size: 17px;
    }

    .resalt{
        font-size: 22px;
    }

    .images{
        display: flex;
        justify-content: center;
        height: 120px;
        margin: 32px 16px;
    }

    .titulo{
        padding-top: 8px;
    }

    header ul{
        padding-top: 5px;
        padding-bottom: 1px;
    }

}