@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fredoka+One&family=Kenia&family=Martian+Mono&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
   
}

body{
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* TITULO */

header{
    display: flex;
    background: #00ff40;
}

#titulo{
    font-family: kenia;
    color: #000000;
    padding: 8px 8px;                                                                                                           
}

/* BARRA DE NAVEGACION */

nav ul{
    margin-left: 40px;
}

nav ul li{
    display: inline-block;
    font-size: 20px;
    padding: 8px 8px;
    font-family: verdana;
    font-weight: lighter;
    padding-top: 16px;
}

nav ul li a{
    text-decoration: none;
    color: #ffffff;
    padding: 4px 4px;
}

nav ul li a:hover{
    border-bottom: 2px solid #ffffff;
    color: #ffffffa1;
}

nav ul #select a{
    color: #ffffffc9;
}

/* ENTRADAS Y PARRAFOS */

#entrada{
    text-align: center;
    color: #000000;
    padding: 20px 20px;
    font-family: fredoka one;
}

.textos{
    margin-left: 8px;
    font-family: roboto;
}

/* APKS */

.apks{
    display: flex;
}

/* APK 1 */

#apk1 button{
    margin: 30px 12px;
    border: solid 4px #c3bbbb;
    padding: 6px 6px;
    background: #beb5b53b;
    height: 125px;
    width: 125px;
}

#apk1 img{
    height: 60px;
    width: 60px;
}

#apk1 button a{
    color: #000000;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;

}

/* FIN APK 1 */

/* APK 2 */

#apk2 button{
    margin: 30px 12px;
    border: solid 4px #c3bbbb;
    padding: 6px 6px;
    background: #beb5b53b;
    height: 125px;
    width: 125px;
}

#apk2 img{
    height: 60px;
    width: 60px;
}

#apk2 button a{
    color: #000000;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;

}

/* FIN APK 2 */

/* MENSAJE */

#mensaje{
    font-family: martian mono;
    text-align: center;
    padding: 10px 10px;
    margin: 40px 40px;
    border: 8px solid #000000;
}

/* FIN DEL MENSAJE */

/* ASIDE */

aside{
    background: #000000;
    font-family: martian mono;
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
}

aside h3{
    color: #ffffff;
    padding: 5px 6px;
}

aside a{
    padding: 2px 4px;
    color: rgb(92, 201, 255);
    text-decoration: none;
}

/* ASIDE */

/* COPYRIGHT */

#copy{
    text-align: center;
    font-family: roboto;
    font-size: 32px;
    color: #ffffff;
    background: #000000;
    padding: 25px 10px;
}

@media (max-width:500px) {

    header{
        text-align: center;
        display: block;
    }

    nav ul {
        align-items: center;
        display: inline-block;
        margin-left: 0px;
        padding-bottom: 8px;
    }

    nav ul li{
        font-size: 18px;
        font-family: verdana;
    }

    #copy{
        margin-bottom: 0px;
    }

    .apks{
        display: block;
        text-align: center;
    }
 
}